
    <header class="header-banner">
    </header>
    <section id="is95" class="flex-sect">
      <div id="ig5f" class="gjs-row">
        <div id="ir4d" class="gjs-cell">
          <div id="i6oy">Add a Game
            <br/>
          </div>
        </div>
      </div>
        <form [formGroup]="gameForm" id="gameForm"
          class="form-horizontal">
          <span class="border border-info"></span>
          <input type="hidden" formControlName="id"/>
          <div class="row">
            <div class="form-group col-md 12">
              <label class="col-md-2 control-label" for="title">Game Title: </label>
              <div class="col-md-7">
                <input type="text" formControlName="title"
                  id="title" class="from-control input-sm"
                  placeholder="Enter Game Title" required/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md 12">
              <label class="col-md-2 control-label" for="genre">Game Genre: </label>
              <div class="col-md-7">
                <input type="text" formControlName="genre"
                  id="genre" class="from-control input-sm"
                  placeholder="Optional - Game genre."/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label" for="datecompleted">Date Last Played:</label>
                <div class="col-md-7">
                    <input type="text" formControlName="datecompleted" id="datecompleted"/>
                </div>
            </div>
        </div>
          <div class="gjs-row">
            <div class="form-actions floatRight">
              <button (click)="addGame()" id="submitGameForm" class="btn btn-primary btn-sm"
              [disabled]="!gameForm.valid">Add Game</button>
              <button (click)="gameForm.reset()" id="resetFormBtn" class="btn btn-warning btn-sm"
              [disabled]="enabled">Reset Form</button>
            </div>
          </div>
        </form>
    </section>
    <section id="ipvi" class="am-sect">
      
      <div id="iqesh" class="gjs-row">
      </div>
    </section>
    <section id="ik15a" class="blk-sect">
      <div class="overlay hidden"></div>
      <div class="game-modal hidden">
        <button class="btn-close"></button>
      </div>
    </section>